numpy
matplotlib
pandas
shapely
tqdm
lightning
scikit-learn
pyyaml
torchvision
torchaudio
basemap
xarray
kagglehub
huggingface_hub
geotiff
cartopy
geopy
neuraloperator
einops
wandb
kaggle
gcsfs
cfgrib
cdsapi
xesmf
torch
optuna
dotenv
rasterio
geopandas
pytest
